<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Language" content="en" />

	<title>Welcome to Instagram</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<style type="text/css">
		body {
			background:#f9f9f9
		}
		.nav {
			background: #fff
		}
		.nav-logo {
			padding: 5px;
		}
		.main {
			padding-top:20px
		}
		.profile_icon {
			border-radius: 50%;
			border: 1px solid #ededed;
		}
		.post {
			padding: 0px;
			margin-bottom: 16px;
			margin-top: 16px;
		}
		.post img {
			width: 100%;
		}
		.search-container {
			padding: 16px;
		}
	</style>
	<!--<link rel="shortcut icon" href="https://lh3.googleusercontent.com/MpnmfR3zYPTojA03QbhGgwIHucmH5s4G2vbIlADYhODL488MQt_BuVztv9LYmJbhwkScYN0DIXuh4d10YMsLbWXT">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
	<link rel="stylesheet" href="https://cdn.turbo360-dev.com/admin/assets/scaffold/css/style.min.css" /> -->
</head>

<body>
	<nav class="navbar navbar-default fixed-top nav">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
				<div class="nav-logo">
				<a href="/">
					<img src="https://lh3.googleusercontent.com/fVv1UKd8CazqY8OZPFKo4IWOXiCu0eHeaNE2aFtaKN2KIePkL_Q3zfo8_K-Z0pdP2iXFpZuJoSfva7mzx7vhTZGdP48=s240"/>
				</a>
					
				</div>			
				</div>
				<div class="col-md-6">
					<div class="search-container">
						<form id="myForm" autocomplete="off">
							<input  style="background:#f9f9f9" type="text" id="username" placeholder="Search..." required />
							<input type="submit" value="Search">
						</form>
						<div id="instagram-feed-demo" class="instagram_feed"></div>
					</div>

				</div>
			</div>
		</div>
	</nav>
	<div class="container main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-4">
						<img class="profile_icon" src="{{graphql.user.profile_pic_url}}">

					</div>
					<div class="col-md-8">
						<h1 style="font-size:32px;line-height:40px;font-weight:100;">{{graphql.user.username}}</h1>
						<div class="row">
							<div class="col-md-3">
								<strong>{{graphql.user.edge_owner_to_timeline_media.count}}</strong> <span>posts</span>	
							</div>
							<div class="col-md-3">
								<strong>{{graphql.user.edge_followed_by.count}}</strong> <span>followers</span>
							</div>
							<div class="col-md-3">
								<strong>{{graphql.user.edge_follow.count}}</strong> <span>following</span>
							</div>
						</div>
						<p style="margin-top:24px">
							{{graphql.user.biography}} 
						</p>
				</div>
			</div>
				<div class="row">
					{{#graphql.user.edge_owner_to_timeline_media.edges}}
					<div class="col-md-4">
						<div class="post">
						<a href="/{{graphql.user.username}}/{{node.shortcode}}"><img src="{{node.thumbnail_src}}"/></a>	
						</div>
				</div>
				{{/graphql.user.edge_owner_to_timeline_media.edges}}
			</div>
		</div> 
		</div>
	</div>
	
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/instagramfeed.js"></script>
<script>
	$(document).ready(function(){
		$("#myForm").submit(function(e){
			e.preventDefault()

			var username = $("#username").val()

			$.instagramFeed({
				'username': username,
				'container':"#instagram-feed-demo",
                'display_profile': true,
                'display_biography': true,
                'display_igtv': true    
            })
		})
        ajaxGet();
	})
    function ajaxGet() {
        $.ajax({
        type: 'GET',
        data: JSON.stringify(data),
        contentType: "application/json",
        url: "http://localhost:3000",
        success:function(data) {
            console.log(JSON.stringify(data));
        }
     })
    }
</script>
</html>
