<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Language" content="en" />

	<title>Welcome to Instagram</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<style type="text/css">
		body {
			background:#f9f9f9
		}
		.nav {
			background: #fff
		}
		.nav-logo {
			padding: 5px;
		}
		.main {
			padding-top:96px
		}
		.post {
			padding: 0px;
			margin-bottom: 16px;
			margin-top: 16px;
		}
		.post img {
			width: 100%;
		}
        .post-container {
            border: 1px solid #ededed;
            border-radius: 2px;
            background: #fff;
            margin-top: 24px;
        }
        .post-container img {
            max-width: 400px;
        }
		.search-container {
			padding: 12px;
		}
	</style>
	<link rel="shortcut icon" href="https://lh3.googleusercontent.com/MpnmfR3zYPTojA03QbhGgwIHucmH5s4G2vbIlADYhODL488MQt_BuVztv9LYmJbhwkScYN0DIXuh4d10YMsLbWXT">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
	 <link rel="stylesheet" href="https://cdn.turbo360-dev.com/admin/assets/scaffold/css/style.min.css" /> 
</head>

<body>
	<nav class="navbar navbar-default fixed-top nav">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
				<div class="nav-logo">
				<a href="/">
					<img src="https://lh3.googleusercontent.com/fVv1UKd8CazqY8OZPFKo4IWOXiCu0eHeaNE2aFtaKN2KIePkL_Q3zfo8_K-Z0pdP2iXFpZuJoSfva7mzx7vhTZGdP48=s240"/>
				</a>
					
				</div>			
				</div>
				<div class="col-md-6">
					<div class="search-container">
						<input class="form-control" style="background:#f9f9f9" type="text" placeholder="Search..."/>
					</div>

				</div>
			</div>
		</div>
	</nav>
	<div class="container main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-8">
                        <div class="post-container">
                            <img src="{{node.display_url}}" /> 
                        </div>
				</div>
			</div>
				
		</div> 
		</div>
	</div>
	
</body>
</html>
